.*.lock
.mc-lists.el
/.emacs.desktop
/auto-save-list
/backup
/elpa
/emojis
/eshell
/project-explorer-cache
/smex-items
/url
octave-workspace
places
projectile-bookmarks.eld
recentf
session.*
tramp
var
yamafaktory/octave-workspace
